<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
    #mapaMundi{
width:1000px;
height: auto;
    }
    </style>
</head>
<body>
<p>Teste</p>
<img id="mapaMundi" src="mapaMundi.png" usemap="#mapaMundi">
<map name="mapaMundi">
    <area shape="rect" coords="25,31,270,200" onclick="window.alert('America')">
</map>
</body>
</html>